body {
  height: 100%;
  margin: 0;
  font-family: 'Serif';
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  color: black;
  background: #197d8fbe;
  text-align: center;
}

.hidden {
  display: none;
}

h1 {
  width: 80%;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  border: solid 2px grey;
  box-shadow: 2px 2px 2px grey;
  box-sizing: border-box;
  background-color: rgb(224, 200, 133);
  color: #000;
}

p {
  width: 70%;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  border: solid 2px grey;
  box-shadow: 2px 2px 2px grey;
  box-sizing: border-box;
  background-color: rgb(228, 219, 195);
  color: #000;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.column {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 15px;
}

.history {
  width: 60%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: solid 2px grey;
  box-shadow: 2px 2px 2px grey;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
}

.schedule {
  width: 60%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: solid 2px grey;
  box-shadow: 2px 2px 2px grey;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
}

.math {
  width: 60%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: solid 2px grey;
  box-shadow: 2px 2px 2px grey;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
}

.skills {
  width: 60%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: solid 2px grey;
  box-shadow: 2px 2px 2px grey;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
}

.personality {
  width: 60%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: solid 2px grey;
  box-shadow: 2px 2px 2px grey;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
}

#submit {
  width: 60%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: solid 2px grey;
  box-shadow: 2px 2px 2px grey;
  box-sizing: border-box;
  background-color: rgb(228, 219, 195);
  color: #000;
}

.btn {
  font-family: 'Poppins';
  color: black !important;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  background: rgb(224, 200, 133);
  padding: 20px;
  border-radius: 50px;
  display: inline-block;
  border: solid 2px grey;
  transition: all 0.4s ease 0s;
}

.btn:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}